<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../public/stylesheets/app.css">
	<link rel="stylesheet" href="../public/stylesheets/bootstrap-grid.min.css">
	<link rel="icon" href="/images/icon.png" class="icon-circular" type="image/png">

	<title> Ingresá! </title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<link rel="stylesheet" href="/stylesheets/app.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
</head>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
                <form action="/login" method="get">
                    <label>Email:</label>
                        <input type="email" name="usuario" required>
                
                    <label>Contraseña:</label>
                        <input type="password" name="contrasenia" required>
                
                    <label>Recordarme:</label>
                        <input type="checkbox" name="recordarme">
                
                <button type="submit">Ingresar</button>
                </form>


	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->
</body>

</html>